:root {
	/* hardhacker colors https://github.com/hardhackerlabs/themes */
	--myBG: #282433;
	--myBG-bright: #3f3951;
	--myFG: #eee9fc;
	--myAccent: #938aad;
	--myAccent-bright: #e965a5
}

@-moz-document domain("messenger.com") {
	[aria-label="Thread list"] { order: 1 !important }
	body { background: var(--myBG) !important }
}

@-moz-document domain("youtube.com") {

	/* AI ask button & vid summary */
	ytd-menu-renderer #flexible-item-buttons,
	#expandable-metadata,
	#teaser-carousel
	{ display: none }

	[light], [dark] {
		--yt-spec-base-background: var(--myBG) !important;
		--yt-spec-raised-background: var(--myBG) !important;
		--yt-spec-menu-background: var(--myBG) !important;
		--yt-spec-additive-background: var(--myBG-bright) !important;
		--yt-spec-outline: var(--myAccent) !important;
		--yt-spec-text-primary: var(--myFG) !important;
		--yt-frosted-glass-desktop: var(--myBG) !important;
	}

	/* vid description */
	ytd-watch-metadata {
		--yt-saturated-base-background: var(--myBG) !important;
		--yt-saturated-raised-background: var(--myBG-bright) !important;
	}

	ytd-app,                                   /* html[dark] background is !important so hijack the tag below */
	.ytSearchboxComponentInputBox,             /* search input */
	.ytSearchboxComponentSuggestionsContainer, /* search dropdown */
	#full-bleed-container,                     /* wide view video background */
	.ytdMiniplayerInfoBarHost                  /* miniplayer */
	{ background: var(--myBG) !important }

	/* video page theater mode */
	ytd-watch-flexy[theater]:not([fullscreen])>#full-bleed-container {
		border-bottom: 1px solid var(--myAccent) !important;
		padding: var(--ytd-margin-6x) 0 !important;

		video { border-radius: 12px }
	}

	/* video page suggested videos column */
	#secondary.ytd-watch-flexy {
		margin: 0 !important;
		padding-left: var(--ytd-margin-6x) !important;
		padding-top: var(--ytd-margin-6x) !important;
		border-left: 1px solid var(--myAccent) !important
	}

	.ytSearchboxComponentInputBox,              /* search input */
	.ytSearchboxComponentSearchButton,          /* search button */
	.ytSearchboxComponentSuggestionsContainer,  /* search dropdown */
	ytd-multi-page-menu-renderer,               /* dropdowns */
	ytd-menu-popup-renderer,                    /* video options dropdown */
	#description.ytd-watch-metadata,            /* video description */
	#playlist>#container,                       /* video page playlist */
	ytd-engagement-panel-section-list-renderer, /* video page chapters */
	ytd-live-chat-frame#chat:not([collapsed]),  /* live chat replay */
	[aria-label="Show chat replay"],            /* live chat replay collapsed */
	.ytdMiniplayerComponentContent,             /* miniplayer */
	ytd-backstage-post-renderer                 /* post page */
	{
		border-radius: 0 !important;
		border: 1px solid var(--myAccent) !important;
	}

	/* search input */
	.ytSearchboxComponentInputBox { border-right: 0 !important }

	/* header */
	#masthead-container { border-bottom: 1px solid var(--myAccent) !important }

	/* sidebar full, collapsed */
	#contentContainer, ytd-mini-guide-renderer { border-right: 1px solid var(--myAccent) !important }

  /* sidebar header */
	#guide-inner-content { border-top: 1px solid var(--myAccent) !important }
}

@-moz-document domain("discord.com") {

	/* ads */
	.mask__0d616 {
		display: none
	}

	:root {
		--custom-emoji-picker-border-radius: 0 !important;
	}

	.theme-light, .theme-dark, .theme-darker, .theme-midnight {
		--background-base-low: var(--myBG) !important;
		--background-base-lower: var(--myBG) !important;
		--background-base-lowest: var(--myBG) !important;
		--background-surface-high: var(--myBG) !important;
		--background-surface-higher: var(--myBG) !important;
		--background-surface-highest: var(--myBG) !important;

		--background-modifier-hover: var(--myBG-bright) !important;
		--background-modifier-selected: var(--myBG-bright) !important;
		--user-profile-overlay-background: var(--myBG-bright) !important;
		--background-code: var(--myBG-bright) !important;
		--chat-background-default: var(--myBG-bright) !important;

		--border-normal: var(--myAccent) !important;
		--border-faint: var(--myAccent) !important;
		--border-subtle: var(--myAccent) !important;
		--divider-subtle: var(--myAccent) !important;
		--app-border-frame: var(--myAccent) !important;
		--user-profile-border: var(--myAccent) !important;
		--input-border: var(--myAccent) !important;
		--input-border-default: var(--myAccent) !important;

		--radius-xs: 0 !important;
		--radius-sm: 0 !important;
		--radius-md: 0 !important;
		--radius-lg: 0 !important
	}

	/* url preview */
	div[aria-roledescription="Message"] article { background: var(--myBG-bright) !important }

	#---new-messages-bar { --divider-color: var(--myAccent-bright) !important }

  div[aria-label="Server Actions"],                                     /* left column right click */
	div[aria-label="Message Actions"],                                    /* chat area right click */
	div[aria-label="User Settings Actions"],                              /* voice chat user right click */
	div[aria-label="Message Actions"]>div,                                /* message actions */
	div[aria-roledescription="Message"] code,                             /* code blocks */
	div[aria-roledescription="Message"] div[id^="message-accessories"] *, /* images, url previews */
	#online-tab+div>aside>div>div>[class*="itemCard"]                     /* active friends */
	{ border-radius: 0 !important }

  #emoji-picker-tab-panel[aria-modal],                  /* add reaction to message popup */
	div[data-popout-animating] div[class*="menuOverlay"], /* user profile popup buttons */
	aside[aria-labelledby] [class*="overlay"]             /* dm chat sidebar buttons */
	{ border: 1px solid var(--myAccent) !important }

	div[class*="page__"],                    /* main area */
	.user-profile-sidebar,                   /* dm right sidebar */
	[aria-roledescription="Message"] article /* embedded link preview */
	{ border-inline-start: 1px solid var(--myAccent) !important }
}

@-moz-document domain("google.com") {

	/* AI overview & AI mode */
	#Odp5De,
	[jsname="xBNgKe"] {
		display: none
	}
}

@-moz-document domain("ecosia.org") {

	/* ads */
	[data-test-id="mainline-result-productAds"],
	[data-test-id="mainline-result-aiOverview"],
	[data-test-id="sidebar-result-ad"],
	[data-test-id="ad-text-result"] {
		display: none !important
	}
}
