@-moz-document domain("messenger.com") {
	[aria-label="Thread list"] {
		order: 1 !important
	}
}
@-moz-document domain("youtube.com") {
	/* AI ask button & vid summary */
	ytd-menu-renderer #flexible-item-buttons,
	#expandable-metadata {
		display: none
	}
}
@-moz-document domain("discord.com") {
	/* top bar */
	div:has(>[aria-label="Open Quick Switcher"]),
	[aria-label="Servers sidebar"],

	/* behind & under user area */
	div:has(>[aria-label="Servers sidebar"]),
	div:has(>[aria-label="Servers sidebar"])::after,

	/* server channels bar */
	[aria-label$="(server)"],

	/* dm list bar */
	[aria-label="Private channels"],
	[aria-label="Private channels"]>*,

	[aria-label="Channel header"],

	/* shadow separator in chat title bar */
	[aria-label="Channel header"]>div>div::after,

	/* chat area */
	main,

	/* chat area bottom */
	main>div>[class^="chatGradient"],

	/* server/group chat right bar */
	main+div>aside>div,

	/* dm right bar */
	.user-profile-sidebar,

	/* users list item */
	[role="listitem"] {
		background: #282433 !important;
		/*color: #eee9fc !important;*/
	}

	/* borders */
	/* verticals */
	[class*="sidebarListRounded"],
	[class*="page__"],
	main+div,
	.user-profile-sidebar {
		border-inline-start: 1px solid #938aad !important
	}

	[data-has-border],
	[class*="sidebarListRounded"] {
		border-top: 1px solid #938aad !important
	}

	[aria-label$="(server)"]>div>header,
	[aria-label="Channel header"] {
		border-bottom: 1px solid #938aad !important
	}
}
@-moz-document domain("google.com") {
	/* AI overview & AI mode */
	#Odp5De,
	[jsname="xBNgKe"] {
		display: none
	}
}
@-moz-document domain("ecosia.org") {
	/* ads */
	[data-test-id="mainline-result-productAds"],
	[data-test-id="mainline-result-aiOverview"],
	[data-test-id="sidebar-result-ad"],
	[data-test-id="ad-text-result"] {
		display: none !important
	}
}
