:root {
	/* hardhacker colors https://github.com/hardhackerlabs/themes */
	--myBG: #282433;
	--myFG: #eee9fc;
	--myAccent: #938aad
}

@-moz-document domain("messenger.com") {
	[aria-label="Thread list"] {
		order: 1 !important
	}

	body {
		background: var(--myBG) !important
	}
}

@-moz-document domain("youtube.com") {

	/* AI ask button & vid summary */
	ytd-menu-renderer #flexible-item-buttons,
	#expandable-metadata {
		display: none
	}

	/* the whole app itself */
	ytd-app,

	/* top bar; id changes on different pages */
	#frosted-glass,
	#background,

	/* side bar */
	#guide-content,

	/* channel page */
	#page-header-container,
	#page-header,
	#tabs-inner-container,
	#chips-wrapper {
		background: var(--myBG) !important
	}

	/* sticky header */
	#masthead-container,
	#chips-wrapper,
	/* channel page header */
	#tabs-divider {
		border-bottom: 1px solid var(--myAccent) !important
	}

	/* video page suggested videos */
	#secondary.ytd-watch-flexy {
		padding-left: 1rem !important;
		border-left: 1px solid var(--myAccent) !important
	}

	/* left sidebar */
	#guide,
	ytd-mini-guide-renderer {
		border-right: 1px solid var(--myAccent) !important;
		border-top: 1px solid var(--myAccent) !important
	}
}

@-moz-document domain("discord.com") {

	/* ads */
	.mask__0d616 {
		display: none
	}

	/* top bar */
	div:has(>[aria-label="Open Quick Switcher"]),
	[aria-label="Servers sidebar"],

	/* behind & under user area */
	div:has(>[aria-label="Servers sidebar"]),
	div:has(>[aria-label="Servers sidebar"])::after,

	/* server channels bar */
	[aria-label$="(server)"],

	/* dm list bar */
	[aria-label="Private channels"],
	[aria-label="Private channels"]>*,

	[aria-label="Channel header"],

	/* shadow separator in chat title bar */
	[aria-label="Channel header"]>div>div::after,

	/* chat area */
	main,

	/* chat area bottom */
	main>div>[class^="chatGradient"],

	/* friends list */
	[aria-label="Friends"]>*,
	[role="tabpanel"]+div>aside,

	/* server/group chat right bar */
	main+div>aside>div,

	/* dm right bar */
	.user-profile-sidebar,

	/* users list item */
	[role="listitem"] {
		background: var(--myBG) !important
	}

	/* borders */
	/* verticals */
	[class*="sidebarListRounded"],
	[class*="page__"],
	main+div,
	[role="tabpanel"]+div>aside>div,
	.user-profile-sidebar {
		border-inline-start: 1px solid var(--myAccent) !important
	}

	[class*="sidebarListRounded"],
	[data-has-border],
	main[aria-label="Friends"] {
		border-top: 1px solid var(--myAccent) !important;
		border-start-start-radius: 0 !important
	}

	[aria-label$="(server)"]>div>header,
	[aria-label="Private channels"]> :first-child,
	[aria-label="Channel header"],
	[aria-label="Friends"]>section {
		border-bottom: 1px solid var(--myAccent) !important
	}
}

@-moz-document domain("google.com") {

	/* AI overview & AI mode */
	#Odp5De,
	[jsname="xBNgKe"] {
		display: none
	}
}

@-moz-document domain("ecosia.org") {

	/* ads */
	[data-test-id="mainline-result-productAds"],
	[data-test-id="mainline-result-aiOverview"],
	[data-test-id="sidebar-result-ad"],
	[data-test-id="ad-text-result"] {
		display: none !important
	}
}
