:root {
  /* hardhacker colors https://github.com/hardhackerlabs/themes */
  --myBG: #282433;
  --myBG-bright: #3f3951;
  --myFG: #eee9fc;
  --myAccent: #938aad;
  --myAccent-bright: #e965a5
}

/* given a reasonable screen width, place tabs & url bar next to each other */
@media(orientation: landscape) {

  /* the whole top UI */
  #navigator-toolbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* url/tools */
  #nav-bar {
    order: -1;
    max-width: min-content;
  }

  /* tabs */
  #TabsToolbar {
    flex-grow: 1;
  }

  /* bookmarks */
  #PersonalToolbar {
    width: 100%;
  }

  /* no clue what this is for */
  #toolbar-menubar {
    display: none;
  }
}

#urlbar-container {
  --urlbar-margin-inline: 0;
}

/* tool/extension icons */
.toolbarbutton-1,
.chromeclass-toolbar-additional,
.tabbrowser-tab {
  margin: 0 !important;
  padding: 0 !important;
}

/* scroll buttons for when tabs overflow */
#scrollbutton-up,
#scrollbutton-down {
  min-width: 2rem;
}

.bookmark-item {
  margin: 0 !important;
}

#nav-bar-customization-target,
toolbaritem,
toolbarbutton,
.tabbrowser-tab {
  background: var(--myBG) !important;
}

.tabbrowser-tab[selected="true"] {
  >stack>vbox {
    border: 1px solid var(--myAccent-bright) !important;
    background: var(--myBG-bright) !important
  }

  label {
    color: var(--myAccent-bright) !important
  }
}

#navigator-toolbox {
  border-bottom: 1px solid var(--myAccent) !important
}

#PersonalToolbar {
  border-top: 1px solid var(--myAccent) !important
}

spacer[part="overflow-start-indicator"],
spacer[part="overflow-end-indicator"] {
  border-left: 1px solid var(--myAccent) !important;
}
