:root {
	/* hardhacker colors https://github.com/hardhackerlabs/themes */
	--myBG: #282433;
  --myBG-bright: #3f3951;
	--myFG: #eee9fc;
	--myAccent: #938aad;
	--myAccent-bright: #e965a5
}

@-moz-document domain("messenger.com") {
	[aria-label="Thread list"] { order: 1 !important }
	body { background: var(--myBG) !important }
}

@-moz-document domain("youtube.com") {

	/* AI ask button & vid summary */
	ytd-menu-renderer #flexible-item-buttons,
	#expandable-metadata {
		display: none
	}

	[light], [dark] {
		--yt-spec-base-background: var(--myBG) !important;
    --yt-spec-raised-background: var(--myBG) !important;
		--yt-spec-menu-background: var(--myBG) !important;
		--yt-spec-additive-background: #0000 !important;
		--yt-spec-outline: var(--myAccent) !important;
		--yt-spec-text-primary: var(--myFG) !important;
	}

	/* vid description */
	ytd-watch-metadata {
		--yt-saturated-base-background: var(--myBG) !important;
    --yt-saturated-raised-background: var(--myBG-bright) !important;
	}

	/* the whole app itself */
	ytd-app,

	/* top bar; id changes on different pages */
	#frosted-glass,
	#background,

	/* search dropdown */
	.ytSearchboxComponentSuggestionsContainer,

	/* wide view video background */
	#full-bleed-container,

	/* side bar */
	#guide-content,

	/* channel page */
	#page-header-container,
	#page-header,
	#tabs-inner-container,
	#chips-wrapper {
		background: var(--myBG) !important
	}

	/* sticky header */
	#masthead-container,
	#chips-wrapper,
	/* channel page header */
	#tabs-divider {
		border-bottom: 1px solid var(--myAccent) !important
	}

	ytd-watch-flexy[theater]:not([fullscreen])>#full-bleed-container {
		border-bottom: 1px solid var(--myAccent) !important;
		padding: var(--ytd-margin-6x) 0 !important;

		video {
			border-radius: 12px
		}
	}

	/* dropdowns */
	ytd-multi-page-menu-renderer,
	/* search dropdown */
	.ytSearchboxComponentSuggestionsContainer,
	/* video page playlist */
	#playlist>#container,
	/* video page chapters */
	ytd-engagement-panel-section-list-renderer,
	#description.ytd-watch-metadata {
		border-radius: 0 !important;
		border: 1px solid var(--myAccent) !important;
	}

	/* video page suggested videos */
	#secondary.ytd-watch-flexy {
		margin: 0 !important;
		padding-left: 1rem !important;
		border-left: 1px solid var(--myAccent) !important
	}

	/* left sidebar */
	#contentContainer,
	ytd-mini-guide-renderer {
		border-right: 1px solid var(--myAccent) !important;
	}

	#guide-inner-content {
		border-top: 1px solid var(--myAccent) !important;
	}
}

@-moz-document domain("discord.com") {

	/* ads */
	.mask__0d616 {
		display: none
	}

	/* top bar */
	div:has(>[aria-label="Open Quick Switcher"]),
	[aria-label="Servers sidebar"],

	/* behind & under user area */
	div:has(>[aria-label="Servers sidebar"]),
	div:has(>[aria-label="Servers sidebar"])::after,

	/* server channels bar */
	[aria-label$="(server)"],

	/* dm list bar */
	[aria-label="Private channels"],
	[aria-label="Private channels"]>*,

	[aria-label="Channel header"],

	/* shadow separator in chat title bar */
	[aria-label="Channel header"]>div>div::after,

	/* chat area */
	main,

	/* chat area bottom */
	main>div>[class*="chatGradientBase"],

	/* friends list */
	[aria-label="Friends"]>*,
	[role="tabpanel"]+div>aside,

	/* server/group chat right bar */
	main+div>aside>div,

	/* dm right bar */
	.user-profile-sidebar,

	/* users list item */
	[role="listitem"] {
		background: var(--myBG) !important
	}

	/* borders */
	/* verticals */
	[class*="sidebarListRounded"],
	[class*="page__"],
	main+div,
	[role="tabpanel"]+div>aside>div,
	.user-profile-sidebar {
		border-inline-start: 1px solid var(--myAccent) !important
	}

	[class*="sidebarListRounded"],
	[data-has-border],
	main[aria-label="Friends"] {
		border-top: 1px solid var(--myAccent) !important;
		border-start-start-radius: 0 !important
	}

	[aria-label$="(server)"]>div>header,
	[aria-label="Private channels"]> :first-child,
	[aria-label="Channel header"],
	[aria-label="Friends"]>section {
		border-bottom: 1px solid var(--myAccent) !important
	}

	#---new-messages-bar {
		--divider-color: var(--myAccent-bright) !important
	}
}

@-moz-document domain("google.com") {

	/* AI overview & AI mode */
	#Odp5De,
	[jsname="xBNgKe"] {
		display: none
	}
}

@-moz-document domain("ecosia.org") {

	/* ads */
	[data-test-id="mainline-result-productAds"],
	[data-test-id="mainline-result-aiOverview"],
	[data-test-id="sidebar-result-ad"],
	[data-test-id="ad-text-result"] {
		display: none !important
	}
}
